@model IEnumerable<SupBlog.Domain.ArticleDomain>
<style type="text/css">
    .down {
        border-bottom: solid 3px black;
    }

    .border {
        border: solid 3px black;
        border-bottom: solid 1px black;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Мои статьи</h1>
</div>
<div class="container" style="width: 700px">

    @foreach (var article in Model)
    {
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">@article.Category.Name</strong>
                <h3 class="mb-0">@article.Name</h3>
                <div class="mb-1 text-muted">12 Ноября</div>
                @if (article.ShortDescription != null)
                {
                    <p class="card-text mb-auto">@article.ShortDescription</p>
                }
                else
                {
                    <p class="card-text mb-auto">Описание отсутствует :((</p>
                }
                Теги:
                @foreach (var tag in article.Tags)
                {
                    @(tag.Name + " ;")
                }
            </div>
            <div class="col-auto d-none d-lg-block">
                <a href="@Url.Action("DetailArticle", "Redactor", new {id = article.Id})">
                    @if (article.HeroImageSource != null)
                    {
                        <img src="@article.HeroImageSource" height="200" width="200" />
                    }
                    else
                    {
                        <img src="https://img.freepik.com/free-vector/photo-frame-icon-empty-photo-blank-vector-on-isolated-transparent-background-eps-10_399089-1290.jpg" height="200" width="200" />
                    }
                </a>
            </div>
        </div>
    }
</div>